address{
	background-color:#59cee3;
}
footer{
	padding: 50px;
	margin: 20px;
	background: #59cee3;
	color: #FFFFFF;
}
.txtmedio{
	text-align: center;
}
.margenypadingtxt{
	margin: 50px;

}